<div class="card card-big">
  <p><strong><%= card.name %></strong></p>
  <p><%= card.card_type.name %></p>
  <p>
    Level : <%= card.level %><br />
    Attack : <%= card.offensive_capacity %><br />
    Defense : <%= card.defense_capacity %>
  </p>
</div>
